/*

@mixin coverer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.video-header {
  position: absolute;
  z-index: -999;
  text-align: center;
  width: 100vw;
  height: 100vh;
  &, video, .viewport-header {
    @include coverer;
  }
  video {
    object-fit: cover;
  }
  .viewport-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}


main {
  background: white;
  position: relative;
  margin-top: 95vh;
  &::before {
    content: "";
    @include coverer;
    top: -95vh;
  }
  
}

*/

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.video-header {
  position: absolute;
  z-index: 0;
  top:0;
  left: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.video-header video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.contrast{
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.35);

  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  margin-top: 100vh;
}





@media only screen and (max-width: 600px) {
  .video-tag{
    display: none;
  }

  .video-header{
    background-color: white;
  }

  .contrast{

    background-color: rgba(0, 0, 0, 0);

  }

}