@mixin coverer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.video-header {
  position: absolute;
  z-index: -999;
  text-align: center;
  width: 100vw;
  height: 100vh;
  &, video, .viewport-header {
    @include coverer;
  }
  video {
    object-fit: cover;
  }
  .viewport-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}


main {
  background: white;
  position: relative;
  margin-top: 94vh; /* KRİTİK*/
  &::before {
    content: "";
    @include coverer;
    top: -94vh;
  }
  
}