.contact-form-dom-container{
    height: 90vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contact-form-container{
    height: 80vh;
    width: 80%;

}

.contact-form-title-container{
    padding: 20px 0 10px 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-title-container h1{
    color: rgba(29, 31, 34, 0.75);
  font-family: "Roboto Slab", serif;

  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.contact-form-sub-title-container{
    margin-bottom: 40px;
    margin-top: 20px;
}

.contact-form-sub-title-container h2{
    font-family: "Roboto Slab", serif;

  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #d2001a;
  text-align: center;
}

.contact-form-sub-container{
    height: 70vh;
    width: 100%;

    background-color: rgba(29, 31, 41,0.05);
    display: flex;
    border-radius: 20px;
}



label{
    font-family: "Roboto Slab", serif;

  font-weight: 500;
  font-style: normal;
    color: rgba(29, 31, 41,0.75);
    font-size: 2.5vmin;
}

input {
    height: 100%;
    width: 100%;
    border: 0ch;
    border-radius: 10px;
    background-color: rgba(29, 31, 41, 0.05);
    padding: 10px;
    
    font-family: 'Lato', sans-serif;

  font-weight: 500;
  font-style: normal;
    color: rgba(29, 31, 41,0.75);
    font-size: 2vmin;

    outline-color: rgba(29, 31, 41,0.75);
}

textarea{
    height: 100%;
    width: 100%;
    border: 0ch;
    border-radius: 10px;
    background-color: rgba(29, 31, 41, 0.05);
    padding: 10px;
    
    font-family: 'Lato', sans-serif;

  font-weight: 500;
  font-style: normal;
    color: rgba(29, 31, 41,0.75);
    font-size: 2vmin;

    outline-color: rgba(29, 31, 41,1);
    resize: none;
}

button{
    border-width: 0;
}

input:focus {
    background: rgba(29, 31, 41, 0.05);
}

.send-button-container:hover {
    background-color: #D2001A;
    cursor: pointer;
}


@media only screen and (max-width: 1000px) {
    .contact-form-dom-container{
        height: 100vh;
    }

    .contact-form-sub-container{
        height: 80vh;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .contact-form-title-container h1{
        font-size: 60px;
        margin-bottom: 100px;

    }
}


@media only screen and (max-width: 580px) {
    .contact-form-dom-container{
        height: auto;
        width: 100%;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 550px) {
    .contact-form-container{
        height: auto;
        width: 100%;
    }

    .contact-form-title-container h1{
        font-size: 40px;
        margin-bottom: 0px;
    }

    .contact-form-sub-title-container h1{
        font-size: 16px;
        margin-bottom: 0px;
        padding: 0 20px 0 20px;

    }

    .contact-form-dom-container{
        margin-top: 10vh;
    }

    label{
        font-size: 18px;
    }

    input{
        font-size: 18px;
    }

    textarea{
        font-size: 18px;
    }

    .contact-form-sub-container{
    
        background-color: #fcfcfc;
    }
}

