@import url("https://use.typekit.net/sfb7vbl.css");
@import url("https://use.typekit.net/sfb7vbl.css");

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-right: 36px;
  font-size: 2vmin;
  font-family: lato, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 940px) {
  .nav-menu {
    font-size: 16px;
    position: fixed;
    left: -100%;
    top: 6vh;
    flex-direction: column;
    background-color: rgb(22, 33, 62);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    position: fixed;
    left: 0;
  }
}

