.statistics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  margin-top: 80px;
}

.statistics-title-container {
  padding: 20px 0 10px 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-title-container h1 {
  color: rgba(29, 31, 34, 0.75);
  font-family: "Roboto Slab", serif;

  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.statistics-sub-title-container {
  margin-bottom: 0px;
  margin-top: 20px;
}

.statistics-sub-title-container h2 {
  font-family: "Roboto Slab", serif;

  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #d2001a;
  text-align: center;
}

.statistics-sub-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.statistics-upper {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

  background-color: #fcfcfc;
}

.statistic-box {
  height: 100%;
  width: 20%;

  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  background-color: rgba(64, 111, 177, 0.15);


  border-radius: 5px;
  padding: 1rem;
  margin-top: 30px;
}

.icon-container {
  height: 35%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16213e;
  border-radius: 5px;
}

.icon-container img {
  height: 18%;
  position: absolute;
  top: 45px;
  filter: brightness(0) invert(0.9);
}

.statistic {
  height: 65%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding-bottom: 30px;
}

.statistic p:nth-child(1) {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 55px;
  color: #16213e;
}

.statistic p:nth-child(2) {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #16213e;
}

.statistic-box:hover{
    transform:translateY(-10px);
    transition: all 0.2s ease-out;
}
@media only screen and (max-width: 950px) {
  .icon-container img {
    height: 50%;
  }

  .statistic p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .statistics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .statistics-upper {
    height: 100%;
    width: 100%;

    flex-direction: column;

    padding: 20px 0 0 0;
  }

  .statistic-box {
    height: 100%;
    width: 100%;
  }

  .icon-container img {
    width: 17%;
    height: 60%;
    margin-bottom: 20px;
  }

  .statistic {
    margin-bottom: 50px;
  }

  .statistic p {
    font-size: 16px;
  }

  .icon-container {
    height: 60%;
  }

  .statistics-title-container {
    margin-bottom: 20px;
  }

  .statistics-title-container h1 {
    font-size: 16px;
  }

  .statistics-container {
    margin-top: 10vh;
  }
}
