.mission-container {
  display: flex;
  flex-direction: column;

  margin-top: 140px;
}

.mission-main-title-container {
  padding: 20px 0 10px 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-main-title-container h1 {
  color: rgba(29, 31, 34, 0.75);
  font-family: "Roboto Slab", serif;

  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.mission-sub-title-container {
  margin-bottom: 40px;
  margin-top: 20px;
}

.mission-sub-title-container h2 {
  font-family: "Roboto Slab", serif;

  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #d2001a;
  text-align: center;
}

.mission-container1 {
  background-color: rgba(29, 31, 34, 0.05);
  height: 18vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 64px 0 64px;
}

.mission-container2 {
  background-color: #16213e;
  height: 18vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  padding: 0 64px 0 64px;
}

.mission-title-container1 {
  height: 100%;
  width: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mission-title-container2 {
  height: 100%;
  width: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mission-title-container1 h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  color: #16213e;
}

.mission-title-container2 h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  color: #fcfcfc;
}

.mission-vision1 {
  height: 100%;
  width: 65%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.mission-vision2 {
  height: 100%;
  width: 65%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  padding-left: 30px;
}

.mission-vision1 p {
  font-family: 'Lato', sans-serif;


  font-weight: 500;
  font-style: normal;
  color: #16213e;
  font-size: 2vmin;
}

.mission-vision2 p {
  font-family: 'Lato', sans-serif;


  font-weight: 500;
  font-style: normal;
  color: #fcfcfc;
  font-size: 2vmin;

}



@media only screen and (max-width: 700px) {
  .mission-title-container1 {
    height: 80%;
    width: 100%;
    justify-content: flex-start;

  }

  .mission-title-container2 {
    height: 80%;

    width: 100%;
    justify-content: flex-start;

  }

  .mission-title-container1 h1 {
    font-size: 40px;
    justify-content: flex-start;
  }

  .mission-title-container2 h1 {
    font-size: 40px;
    justify-content: flex-start;

  }

  .mission-container1 {
    padding: 0 16px 0 16px;
    flex-direction: column;
    padding: 0;
  }

  .mission-container2 {
    padding: 0 16px 0 16px;
    flex-direction: column;
    padding: 0;
  }

  .mission-vision1 {
    width: 100%;
    align-items: flex-start;
    text-align: left;
  }

  .mission-vision2 {
    padding-left: 0px;
    width: 100%;
    align-items: flex-start;
    text-align: left;
  }

  .mission-vision1 p {
    font-size: 16px;
  }

  .mission-vision2 p {
    font-size: 16px;
  }

  .mission-title-container1 h1 {
    font-size: 30px;
    width: 50%;
    display: flex;
    justify-content: flex-start;

  }

  .mission-title-container2 h1 {
    font-size: 30px;
    width: 50%;
    display: flex;
    justify-content: flex-start;

  }
}

@media only screen and (max-width: 600px) {
    .mission-container {

        margin-top: 10vh;
      }

      .mission-container1 {
        height: auto;
        padding: 2rem;
      
      }
      
      .mission-container2 {
        height: auto;
        padding: 2rem;
      
      }

      .mission-title-container1 h1 {
        margin-bottom: 20px;
    
      }
    
      .mission-title-container2 h1 {
        margin-bottom: 20px;
    
      }

}
