.mission-dom-container{
  height: 40vh;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mission-upper-container{
  height: 100%;
  width: 100%;


  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.vision-container{
  height: 100%;
  width: 35%;

}

.mission-container{
  height: 100%;
  width: 35%;

}

.vision-icon-title-container{
  height: 35%;
  width: 100%;

  display:flex;
  justify-content: flex-start;
  align-items: center;

}

.vision-icon-container{
  height: 100%;
  width: 25%;


  display:flex;
  justify-content: center;
  align-items: center;
}

.vision-title-container{
  height: 100%;
  width: 75%;


  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.vision-title-container h1{
  font-family: "Roboto Slab", serif;

  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #d2001a;
  text-align: center;

  transform: translateX(-10px);
}

.vision-text-container{
  height: 65%;
  width: 100%;
  padding: 0rem 1rem 1rem 2rem;
}

.vision-text-container p{
  font-size: 16px;
  font-family: lato, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgba(5, 15, 31, 0.9);
}

.mission-icon-title-container{
  height: 35%;
  width: 100%;

  display:flex;
  justify-content: flex-start;

  align-items: center;

}

.mission-icon-container{
  height: 100%;
  width: 25%;


  display:flex;
  justify-content: center;
  align-items: center;
}

.mission-text-container{
  height: 65%;
  width: 100%;
  padding: 0rem 1rem 1rem 2rem;

}

.mission-text-container p{
  font-size: 16px;
  font-family: lato, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgba(5, 15, 31, 0.9);
  
}

.vision-icon{
  height: 50%;
}

.mission-icon{
  height: 45%;
}

.mission-title-container{
  height: 100%;
  width: 75%;


  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.mission-title-container h1{
  font-family: "Roboto Slab", serif;

  font-weight: 500;
  font-style: normal;
  font-size: 20px;

  color: #d2001a;
  text-align: center;

  transform: translateX(-10px);

}
