.trust-us-dom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.trust-us-container{
    height: 60vh;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.gmp-container{
    height: 100%;
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gmp-container img{
    width: 100%;
    filter: brightness(0);
}

.trust-us-p-container{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.trust-us-p-container h1{
    font-family: elza-narrow, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.2vmin;
    color: #D2001A;
    margin-bottom: 20px;
}

.trust-us-p-container p{
    font-family: lato, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.1vmin;
    padding: 0 40px 0 40px;
    color: rgba(29, 31, 41,1);


}

.iso-container{
    height: 100%;
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.iso-container img{
    width: 100%;
    filter: brightness(0);

}

@media only screen and (max-width: 500px) {
    .trust-us-p-container p{

        padding: 0 10px 0 10px;
        font-size: 14px;
    
    }

    .trust-us-container{
        height: 30vh;
        width: 90%;
    }

    .trust-us-p-container h1{
        font-size: 14px;
    }
    
}