@import url("https://use.typekit.net/sfb7vbl.css");

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {

  font-family: Lato;
  src: url("https://use.typekit.net/sfb7vbl.css");
  font-display: swap;
}

@font-face {

  font-family: elza;
  src: url("https://use.typekit.net/sfb7vbl.css");
  font-display: swap;
}

::selection {
  background: rgba(210, 0, 26,1);
  color: white;
}