@import url("https://use.typekit.net/sfb7vbl.css");

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}



::selection {
  background: rgba(210, 0, 26,1);
  color: white;
}